// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@import "foundicons";

header {
  nav { margin-top: 14px; }
}

.alerts { min-height: 30px; }

footer {}

.projects {
  clear: both;
  .project {
    
   .info {
      @include border-radius(3px);
      display: block;
      background: #fff;
      color: #444;
      padding: 5px;
      h4 {margin:10px 0;}
      p {font-size:12px;margin:0;}
    }
    
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 210px;
    height: 300px;
    padding: 10px;

    background: image-url("tile.png") 0 0;

    border: 1px solid #555;
    @include border-radius(4px);
    
    &:before, &:after {
      position: absolute;
      @include box-sizing(border-box);
      width: 15px;
      height: 15px;
      content: "";
      top: -16px;
      left: -16px;
    }
    &:before {
      height: 100%;
      top: -9px;
      border-left: 1px solid #555;
      border-bottom: 1px solid #555;      
      @include skew(0, 45deg);
      @include background(
        image-url("tile.png") -15px 0,
        linear-gradient(top left, #000, #fff)
      );
      
    }
    &:after {
      width: 100%;
      left: -9px;
      border-top: 1px solid #555;
      border-right: 1px solid #555;
      @include skew(45deg, 0);
      @include background(image-url("tile.png")  0 15px);
    }
    .members {
      list-style-type: none;
      li {display: inline;
        .ico-smiley {
          border:none;
          color: #444;
        }
        
      }
    }
  }
}


.backlog, .icebox, .current {
  white-space: nowrap;
  margin-bottom: 20px;
}

.iteration {
  display: inline-block;
  min-width: 160px;
  .title {
    font-weight: normal;
    font-size: inherit;
  }
  position: relative;
  @include transition(width 0.4s);
  @for $i from 1 through 20 {
    &:nth-last-child(#{$i}) { z-index: $i; }
  }
}

.stories {
  display: inline-block;
  white-space: nowrap;
  .story {
     cursor: pointer;
     @for $i from 1 through 50 {
       &:nth-last-child(#{$i}) .card{ 
         margin-top: 2px * ($i - 1);
         margin-left: 2px * ($i - 1);
         z-index: $i;
       }
     }
     position: relative;
     height:  230px;
     display: inline-block;
     .card {
        @include border-radius(4px);
        white-space: normal;
        padding: 10px;
        position: absolute;
        width: 150px;
        height: 200px;
        border: 1px solid #555;
        @include box-shadow(0 0 0 0 rgba(0,0,0,.6));
        @include transition(margin 0.4s, box-shadow 0.4s);
        /* http://lea.verou.me/css3patterns/#japanese-cube
        $col1: lighten(#445, 40%);
        $col3: lighten(#556, 40%);
        $col2: lighten(#99a, 20%);
        $width: 30px;
        $height: 50px;
        @include background (
          linear-gradient(60deg, $col1 12%, transparent 12.1%, transparent 87%, $col1 87.1%, $col1) 0 0,
          linear-gradient(-60deg, $col1 12%, transparent 12.1%, transparent 87%, $col1 87.1%, $col1) 0 0,
          linear-gradient(60deg, $col1 12%, transparent 12.1%, transparent 87%, $col1 87.1%, $col1) $width/2 $height/2,
          linear-gradient(-60deg, $col1 12%, transparent 12.1%, transparent 87%, $col1 87.1%, $col1) $width/2 $height/2,
          linear-gradient(30deg, $col2 25%, transparent 25.1%, transparent 75%, $col2 75%, $col2) 0 0, 
          linear-gradient(30deg, $col2 25%, transparent 25.1%, transparent 75%, $col2 75%, $col2) $width/2 $height/2
        );
        background-color: $col3;
        background-size: $width $height;
        */
        background: image-url("tile.png"); // This is a faster version
        .title {
          @include border-radius(3px);
          display: block;
          background: #fff;
          color: #444;
          padding: 3px;
        }
     }
     &:hover .card {
       margin-top: -10px;
       @include box-shadow(0 10px 10px 0 rgba(0,0,0,.35));
     }
     @include transition(width 0.4s);
  }
  &.open {
    .story {
      width: 160px; 
      .card { margin: 0; }
      &:hover .card { margin-top: -10px; }
    }  
  }

  
}

