// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@import "foundicons";

header {
  nav { margin-top: 14px; }
}

.alerts { min-height: 30px; }

footer {}

.projects {
  clear: both;
  .project {
    margin: 30px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    padding: 10px 20px;
    background: #ddd;
    border: 1px solid #555;
    
    &:before, &:after {
      position: absolute;
      width: 20px;
      height: 20px;
      content: "";
      border: 1px solid #555;
      top:-21px;
      left:-21px;
    }
    &:before {
      height: 100%;
      top:-11px;
      border-right: none;
      @include skew(0, 45deg);
    }
    &:after {
      width: 100%;
      left: -11px;
      border-bottom: none;
      @include skew(45deg, 0);
    }
    .members {
      list-style-type: none;
      li {display: inline;}
    }
  }
}



.backlog, .icebox, .current {
  overflow: hidden;
}

.iteration {}

.stories {
  display: inline-block;
  white-space: nowrap;
  .story {
     width:2px;
     height:  220px;
     margin-bottom:-10px;
     display: inline-block;
     .test {
       background: blue ;
     }
     .card {
        white-space: normal;
        padding: 15px;
        position: absolute;
        width: 150px;
        height: 200px;
        border: 1px solid #555;
        background: #eee;
     }
     @include transition(width 0.1s)
     
  }
  &.open {
    .story{ width: 160px; }  
  }

  
}

